@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar{
  height: 8vh;
  padding: 12px 12px 12px 12px;
  font-family: Montserrat;
  background: #75757c;
}
.nav-link{
  color: white;
}
.nav-link:hover {
  color: #FF6047;
}
