<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-3">
              <div class="input-group-galerry">
                <label for="dataInicial">Data: </label>
                <input type="date" class="input-gallery" id="dataInicial">
                <input type="date" class="input-gallery" id="dataFinal">
                <label for="industria">Industria: </label>
                <input type="text" class="input-gallery" id="industria">
                <label for="ramo">Ramo: </label>
                <input type="text" class="input-gallery" id="ramo">
                <label for="rede">Rede: </label>
                <input type="text" class="input-gallery" id="rede">
              </div>
            </div>
            <div class="col-lg-12 col-md-3">
              <div class="input-group-galerry">
                <label for="local">Local: </label>
                <input type="text" class="input-gallery" id="local">
                <label for="secao">Seção: </label>
                <input type="text" class="input-gallery" id="secao">
                <button type="submit" class="galerry-button">Filtrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <button type="submit" class="galerry-button">Agendar Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
