.img-card {
    height: 333px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
}
.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.galerry-button {
  width: 110px;
  height: 45px;
  left: 1201px;
  top: 230px;
  font-family: roboto;
  color: white;
  background: #ff6047;
  border-radius: 4px;
}
.row-photo{
  width: 100%;
}
.row-detail{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.title-card{
  margin: 0 0 0 0;
}
.col-photo{
  padding: 0 5px 5px 0;
}
