<div class="row">
  <div class="col-lg-12">
    <app-card>
      <div class="container-content">
        <div class="row">
          <h2 class="title-card">Filtros</h2>
        </div>
        <div class="date row input-group-gallery">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 input-group-r">
            <label>Data: </label>
            <div class="data-group">
              <input type="date" class="input-gallery form-control" id="dataInicial" />
              <input type="date" class="input-gallery form-control" id="dataFinal" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 input-group-r">
            <label>Industria: </label>
            <input type="text" class="input-gallery form-control" value="Pramesa" readonly id="industria" />
          </div>
          <app-field-filter class="col-xs-12 col-sm-12 col-md-3 col-lg-3" [label]="'Ramo: '"
            [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'ramo'" [filters]="filters.get('project')">
          </app-field-filter>
        </div>
        <div class="row input-group-gallery">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Local: '" [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'local'"
              [filters]="filters.get('shop')"></app-field-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Tipo de Pesquisa: '" [filterBehaviorSubject]="filterBehaviorSubject"
              [id_input]="'tipoPesquisa'" [filters]="filters.get('tipoPesquisa')"></app-field-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Rede: '" [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'rede'"
              [filters]="filters.get('chain')"></app-field-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Promoter: '" [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'promoter'"
              [filters]="filters.get('Promoter')"></app-field-filter>
          </div>
        </div>
        <div class="row input-group-gallery">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Produto: '" [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'product'"
              [filters]="filters.get('product')"></app-field-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
            <app-field-filter [label]="'Ruptura: '" [filterBehaviorSubject]="filterBehaviorSubject" [id_input]="'ruptura'"
              [filters]="filters.get('Ruptura')"></app-field-filter>
          </div>
        </div>
        <button type="submit" (click)="submitFilter()" class="galerry-button">Filtrar</button>
      </div>
    </app-card>
  </div>
</div>
