.input-group-gallery {
  margin-bottom: 1rem !important;
  position: relative;
  width: 100%;
}
.input-gallery {
  margin-right: 5px;
  margin-left: 1px;
  border-radius: 0.25rem;
  width:100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #ffffff;
}
.galerry-button {
  width: 110px;
  height: 45px;
  left: 1201px;
  top: 230px;
  font-family: roboto;
  color: white;
  background: #ff6047;
  border-radius: 4px;
}
.date{
  display: flex;
  justify-content: space-between
}
.card{
  margin-bottom: 10px;
}
.input-group-r{
  margin: 0 5px 5px 0;
}
.input-group-r label{
  margin: 0 0 0 0;
}
.data-group{
  display: flex;
}
.container-content{
  width: 100%;
  margin: auto;
}
.title-card{
  padding-left: 15px;
}
