<div class="row">
  <div class="col-lg-12">
    <app-card>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-3">
            <div class="input-group-gallery">
              <label for="dataInicial">Data: </label>
              <input type="date" class="input-gallery" id="dataInicial" />
              <input type="date" class="input-gallery" id="dataFinal" />
              <label for="industria">Industria: </label>
              <input
                type="text"
                class="input-gallery"
                value="Pramesa"
                readonly
                id="industria"
              />
              <app-field-filter></app-field-filter>
              <label for="rede">Rede: </label>
              <input type="text" class="input-gallery" id="rede" />
            </div>
            <div class="col-lg-12 col-md-3">
              <div class="input-group-gallery">
                <label for="local">Local: </label>
                <input type="text" class="input-gallery" id="local" />
                <label for="tipo-pesquisa">Tipo de pesquisa: </label>
                <input type="text" class="input-gallery" id="tipo-pesquisa" />
                <button type="submit" class="galerry-button">Filtrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
