.input-gallery {
  left: 406px;
  top: 157px;
  margin-right: 5px;
  margin-left: 1px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #ffffff;
}
.input-group-r label{
  margin: 0 0 0 0;
}
.input-group-r ul{
  overflow:hidden;
  overflow-y:scroll;
  position: absolute;
  visibility: hidden;
  list-style: none;
  z-index: 1;
  height:auto;
  max-height: 100px;
  width:250px;
  padding-left: 0px;
  background-color: white;
}
.input-group-r ul li:hover{
  color: grey;
}
.selected{
  background-color: rgb(202, 201, 201);
}
.ul-search{
  width:100%;
}
