<div class="input-group-r" (outsideClick)="sendFilter()">
  <label>{{label}}</label>
  <div>
    <input type="text" (click)="toggleList($event)" class="input-gallery form-control" readonly placeholder="Selecione:" [id]="id_input" />
    <ul [id]="id_ul" class="ul">
      <li>
        <div>
          <input [(ngModel)]="search" type="text">
        </div>
      </li>
      <div>
        <ng-container *ngFor="let filter of filters | filterPipe: search">
          <li *ngIf="isSelected(filter)" class="li selected" (click)="getValueLi($event)">{{filter}}</li>
          <li *ngIf="!isSelected(filter)" class="li" (click)="getValueLi($event)">{{filter}}</li>
        </ng-container>
      </div>
    </ul>
  </div>
</div>
